.contenedor{
    width: 100%;
    margin: 70px 0;
}

.tarea_paquete{
    margin-bottom: 100px;
}

.tarea_paquete, .tarea_lote{
    width: 100%;
    height: auto;
    text-align: center;
}

.paquete{
    width: 1000px;
    margin: auto;
}

h2{
    color: white;
    margin-bottom: 30px;
}

.tabla{
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin: auto;
}

th{
    padding: 5px;
    color: white;
    border: white 1px solid;
    white-space: normal;
    overflow: hidden;
    max-width: 200px;
    word-wrap: break-word;
}