*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #141414;
    position: relative;
    min-height: 100vh;
}

header{
    width: 100%;
    position: static;
    padding: 1px 10%;
    background-color: #141414;
    box-shadow: 0 0 10px #FFFFFF;
}

.logo{
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.menu-idioma{
    position: relative;
}

.menu-idioma ul{
    background-color: #141414;  
    border: 1px solid rgba(255, 255, 255, 0.49);
    display: none;
    position: absolute;
}

.menu-idioma ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-idioma ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;
}

.menu-idioma ul li a::before{
    margin: 0;
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 7px;
    vertical-align: middle;
}

.us::before{
    background-image: url(https://flagsapi.com/US/flat/32.png);
}

.es::before{
    background-image: url(https://flagsapi.com/ES/flat/32.png);
}

.menu-idioma:hover ul{
    display: block;
}

.menu-idioma a:hover{
    text-decoration: underline;
}

.seleccionar_idioma{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100px;
}

.seleccionar_idioma::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/ES/flat/32.png);
}


nav{
    display: flex;
    margin: 0 auto;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
}

li, a, button{
    text-decoration: none;
    color: #FFFFFF;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.7s ease 0s;
}

.nav_links a:hover{
    transition: all 0.7s ease 0s;
    font-size: 18px;
    color: #0088ae;
}

footer{
    width: 100%;
    padding: 1em 0;
    position: relative;
    background-color: #DE744C;
    bottom: 0;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.espacio{
    flex: 1;
    margin: 15px;
}

.empresa li{
    margin: 4px 0px;
}

.empresa a{
    color: black;
    text-decoration: underline;
}

.empresa a:hover{
    color: #0c6eb4;
}

.empresa-container{
    list-style: none;
}

.empresa-container .empresa{
    list-style: none;
}

h3{
    margin-bottom: 5px;
}

.container-redes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-redes ul li{
    list-style: none;
}

.red, .email{
    padding: 10px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: #141414;
}

.email{
    width: 100%;
}

.numero{
    text-align: center;
    padding: 3px;
    color: black;
    font-size: 20px;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numero, .email{
    margin: 5px 0;
}

.ubicacion{
    display: flex;
    align-items: center;
}

.fa-map-marler{
    font-size: 30px;
    text-decoration: none;
}

.red:hover {
    opacity: 0.7;
}

.checkbtn{
    color: white;
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-height:680px){
    footer, .footer{
        position: relative;
        margin-top: auto;
    }
}

@media (max-width:1020px){
    header{
        padding: 1px 1em;
    }
    .container-footer{
        justify-content: space-evenly;
    }
}

@media(max-width:890px){
    .seleccionar_idioma{
        width: auto;
    }
    .checkbtn{
        display: block;
    }
    .nav_links{
        display: flex;
        flex-direction: column; 
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 110px;
        left: -100%;
        background-color: #141414;
        text-align: center;
        transition: all .5s;
        opacity: 0.98;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    }
    #check:checked ~ .slideshow-container{
        z-index: 0;
    }
    #check:checked ~ .nav_links{
        left: 0;
        z-index: 2;
    }
}

@media (max-width:768px){
    header{
        padding: 1px 2%;
    }
    .logo{
        width: 150px;
        height: auto;
    }
    /* .nav_links {
        display: flex;
        flex-direction: column;
        top: 90px; 
        align-items: center;
    }
    .nav_links li {
        margin: 10px 0;
        text-align: center;
    } */
    .seleccionar_idioma::before{
        align-items: center;
        margin: 0 auto;
    }
    .idioma{
        display: none;
    }
    .menu-idioma ul li a{
        width: auto;
    }
}


